@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 55% 95%; /* Pale Sand */
    --foreground: 20 15% 25%; /* Dark Brown-Black for text */
    --card: 40 33% 82%; /* Parchment for cards */
    --card-foreground: 20 15% 25%;
    --popover: 48 55% 95%;
    --popover-foreground: 20 15% 25%;
    --primary: 207 70% 53%; /* Sea Blue */
    --primary-foreground: 210 40% 98%;
    --secondary: 48 33% 90%;
    --secondary-foreground: 207 70% 53%;
    --muted: 48 33% 90%;
    --muted-foreground: 25 50% 35%; /* Burnt Orange/Brown */
    --accent: 48 90% 60%; /* Sandy Yellow */
    --accent-foreground: 20 15% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --input: 48 20% 85%;
    --ring: 207 70% 53%; /* Sea Blue for rings */
    --radius: 0.5rem;
  }
}
 
@layer base {
  @font-face {
    font-family: 'Paalalabas';
    src: url('/Paalalabas-Wide.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  html,
  body {
    @apply text-foreground;
    overflow: hidden;
    background-image: url('/map_bg.jpg');
    background-size: cover;
    font-family: 'Paalalabas', sans-serif;
    letter-spacing: 0.05em;
  }
}
